$color-background: #230e2b;
$color-text: #ffffff;
$color-dark-text: #8b5d9a;
$color-input: #42204e;
$color-error: #a01414;
$color-active: #f43048;

$color-button: #ee0979;
$linear-gradient: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
$color-button-hovered: #ffc700;
$linear-gradient-hovered: linear-gradient(90deg, #ffc700 0%, #ff005c 100%);
$color-button-shadow: 0px 10px 10px rgba(179, 34, 31, 0.2);
$color-button-shadow-man: 0px 10px 10px rgba(31, 33, 179, 0.1);

$color-man: #0575e6;
$linear-gradient-man: linear-gradient(90deg, #0575e6 0%, #021b79 100%);
$color-man-hovered: #021b79;
$linear-gradient-man-hovered: linear-gradient(90deg, #021b79 0%, #0575e6 100%);
$color-woman: #ec008c;
$linear-gradient-woman: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
$color-woman-hovered: #fc6767;
$linear-gradient-woman-hovered: linear-gradient(90deg, #fc6767 0%, #ec008c 100%);

//$color-primary: #FF9900;
//$color-additional: #FF7549;
//$color-heading: #2F281E;
//$color-border: #D7D7D7;
//$color-light: #ffffff;
//$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 375px;
